.products-modal__item {
    label {
        display: block;
        width: 100%;
    }

    .jqselect {
        width: 100%;
    }

    & + & {
        margin-top: 15px;
    }

    input {
        display: block;
        padding: 8px;
        width: 100%;
        border: 1px solid #cecece;
        font-size: 18px;
        border-radius: 4px;

        &.error {
            border-color: red;
        }

        &.success {
            border-color: #7ade7a;
        }
    }

    p {
        position: relative;
        padding-left: 15px;
        margin-bottom: 2px;
        color: #828282;
        font-style: italic;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: #cecece;
            border-radius: 50%;
            content: '';
        }
    }

    .jq-file__name {
        color: #828282;
        font-style: italic;
        font-size: 14px;
    }

    .jq-file__browse {
        color: #828282;
        font-style: italic;
        font-size: 14px;
    }

    button {
        width: 100%;
        overflow: visible;
        padding: 8px 11px;
        border: 1px solid #CCC;
        border-bottom-color: #B3B3B3;
        border-radius: 4px;
        outline: none;
        background: linear-gradient(#FFF, #E6E6E6);
        box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
        font: 14px Arial, sans-serif;
        color: #333;
        text-shadow: 1px 1px #FFF;
        cursor: pointer;

        &:hover {
            background: linear-gradient(#F6F6F6, #E6E6E6);
        }

        &:active {
            background: #F5F5F5;
            box-shadow: inset 1px 1px 3px #DDD;
        }
    }
}

.products-modal__delete {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../media/delete.svg");
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}