<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page-avatars">
        <div class="container-fluid">
            <div class="page-avatars__body">
                <div class="avatars"></div>
                <div class="filter js-filter">
                    <div class="filter__close js-filter__close"></div>
                    <div class="filter__body">
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Страна</p>
                                <select name="country" multiple="multiple">
                                    <option value="Россия">Россия</option>
                                    <option value="Мексика">Мексика</option>
                                    <option value="Колумбия">Колумбия</option>
                                    <option value="Испания">Испания</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <div class="filter__checkbox">
                                    <span>Мужчины</span>
                                    <input type="checkbox">
                                </div>
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <div class="filter__checkbox">
                                    <span>Женщины</span>
                                    <input type="checkbox">
                                </div>
                            </label>
                        </div>
                        <div class="filter__item">
                            <button class="filter__btn js-filter__btn">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>