<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page-avatars">
        <div class="container-fluid">
            <div class="page-avatars__body">
                <div class="avatars">
                    <div class="avatars__item">
                        <div class="avatars__media"><img src="http://cycyrbita.ru/avatars/media/avatars/Австрия-AT/face2.jpg" alt=""></div>
                        <div class="avatars__name">Sophia Gassner</div>
                        <div class="avatars__delete">Удалить</div>
                    </div>
                    <div class="avatars__item">
                        <div class="avatars__media"><img src="http://cycyrbita.ru/avatars/media/avatars/Австрия-AT/face3.jpg" alt=""></div>
                        <div class="avatars__name">Emilia Bauer</div>
                        <div class="avatars__delete">Удалить</div>
                    </div>
                    <div class="avatars__item">
                        <div class="avatars__media"><img src="http://cycyrbita.ru/avatars/media/avatars/Австрия-AT/face4.jpg" alt=""></div>
                        <div class="avatars__name">Valentina Eigner</div>
                        <div class="avatars__delete">Удалить</div>
                    </div>
                    <div class="avatars__item">
                        <div class="avatars__media"><img src="http://cycyrbita.ru/avatars/media/avatars/Австрия-AT/face5.jpg" alt=""></div>
                        <div class="avatars__name">Sophia Gassner</div>
                        <div class="avatars__delete">Удалить</div>
                    </div>
                    <div class="avatars__item">
                        <div class="avatars__media"><img src="http://cycyrbita.ru/avatars/media/avatars/Австрия-AT/face6.jpg" alt=""></div>
                        <div class="avatars__name">Jonas Weißmann</div>
                        <div class="avatars__delete">Удалить</div>
                    </div>
                </div>
                <div class="filter js-filter">
                    <div class="filter__close js-filter__close"></div>
                    <div class="filter__body">
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Страна</p>
                            </label>
                        </div>
                        <div class="filter__item">
                            <button class="filter__btn js-filter__btn">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>