<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page-products">
        <div class="container-fluid">
            <div class="page-products__body">
                <div class="products"></div>
                <div class="filter js-filter">
                    <div class="filter__close js-filter__close"></div>
                    <div class="filter__body">
                        <div class="filter__item">
                            <label>
                                <input type="text" placeholder="Поиск">
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Название</p>
                                <select multiple="multiple" name="name">
                                    <option value="Artrovex">Artrovex</option>
                                    <option value="Alcotox">Alcotox</option>
                                    <option value="Cardiol">Cardiol</option>
                                    <option value="Iconskin">Iconskin</option>
                                    <option value="Смайлик">Смайлик</option>
                                    <option value="Removio">Removio</option>
                                    <option value="Животное" selected>Животное</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Тема</p>
                                <select multiple="multiple" name="them">
                                    <option value="Artrovex">Artrovex</option>
                                    <option value="Лень" selected>Лень</option>
                                    <option value="Cardiol">Cardiol</option>
                                    <option value="Iconskin">Iconskin</option>
                                    <option value="Смайлик">Смайлик</option>
                                    <option value="Removio">Removio</option>
                                    <option value="Животное">Животное</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Страна</p>
                                <select multiple="multiple" name="country">
                                    <option value="Россия" selected>Россия</option>
                                    <option value="Америка">Америка</option>
                                    <option value="Испания">Испания</option>
                                    <option value="Колумбия">Колумбия</option>
                                    <option value="Филиппины">Филиппины</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                            <button class="filter__btn js-filter__btn">Добавить</button>
                        </div>
                        <div class="filter__info">
                            <p>Для множественного выбора используй Ctrl + ЛКМ</p>
                            <p>Чтобы убрать единственный выделенный элемент используй Ctrl + ЛКМ по элементу</p>
                            <p>Чтобы выбрать сразу все элементы используй Ctrl + A</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>