<!DOCTYPE html>
<html lang="ru">
<%- include('block/head') %>

<body>
    <div class="page-products">
        <div class="container-fluid">
            <div class="page-products__body">
                <div class="products">
                    <div class="products__item">
                        <div class="products__head">
                            <div class="products__head-item">Продукт</div>
                            <div class="products__head-item">Тема</div>
                            <div class="products__head-item">Страна</div>
                            <div class="products__head-edits js-products__head-edits"></div>
                        </div>
                        <div class="products__body">
                            <div class="products__media"><img src="../media/products/img-1.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="products__item">
                        <div class="products__head">
                            <div class="products__head-item">Продукт</div>
                            <div class="products__head-item">Тема</div>
                            <div class="products__head-item">Страна</div>
                            <div class="products__head-edits js-products__head-edits"></div>
                        </div>
                        <div class="products__body">
                            <div class="products__media"><img src="../media/products/img-1.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="products__item">
                        <div class="products__head">
                            <div class="products__head-item">Продукт</div>
                            <div class="products__head-item">Тема</div>
                            <div class="products__head-item">Страна</div>
                            <div class="products__head-edits js-products__head-edits"></div>
                        </div>
                        <div class="products__body">
                            <div class="products__media"><img src="../media/products/img-1.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="filter js-filter">
                    <div class="filter__close js-filter__close"></div>
                    <div class="filter__body">
                        <div class="filter__item">
                            <label>
                                <input type="text" placeholder="Поиск">
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Название</p>
                                <select multiple="multiple" name="name">
                                    <option value="Artrovex" selected="">Artrovex</option>
                                    <option value="Alcotox">Alcotox</option>
                                    <option value="Cardiol">Cardiol</option>
                                    <option value="Iconskin">Iconskin</option>
                                    <option value="Смайлик">Смайлик</option>
                                    <option value="Removio">Removio</option>
                                    <option value="Животное">Животное</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                            <label>
                                <p class="filter__item-title">Тема</p>
                                <select multiple="multiple" name="them">
                                    <option value="Artrovex" selected="">Artrovex</option>
                                    <option value="Alcotox">Alcotox</option>
                                    <option value="Cardiol">Cardiol</option>
                                    <option value="Iconskin">Iconskin</option>
                                    <option value="Смайлик">Смайлик</option>
                                    <option value="Removio">Removio</option>
                                    <option value="Животное">Животное</option>
                                </select>
                            </label>
                        </div>
                        <div class="filter__item">
                            <button class="filter__btn js-filter__btn">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('block/script') %>
</body>

</html>